#main {
	width: 50%;
	height: 50%;
	position: absolute;
	bottom: 25%;
	left: 25%;
	border-radius: 10%;
	background-color: #aaf;
	padding: 2.5%;

}

#addNew {
	background-color: #bbe;
	border-radius: 5px;
	border: 5px inherit;
	width: 120px;
	height: 40px;
}

#addNew:hover {
	background-color: #ee4;
	transition: 500ms ease-out;
}

#newTaskText {
	height: 30px;
}

#box {
	height: 78%;
	width: 100%;
	padding: 5px;
	margin-top: 2%;
	overflow-y: auto;
}

#currentDate {
	position: absolute;
	top: 5%;
	left: 5%;
}
