.listEl {
	height: 60px;
	width: auto;
	background-color: #bbe;
	border-radius: 5px;
	display: block;
}
.listEl:hover {
	background-color: #ee4;
	transition: 500ms ease-out;
}
.listEl .delete {
  float: right;
}

.listEl .check {
	float: left;
	width: 60px;
}

.listEl .text {
	position: relative;
	top: 30%;
	text-align:center;
	padding-right: 5%;
}
