#main {
	width: 50%;
	height: 50%;
	position: absolute;
	bottom: 25%;
	left: 25%;
	border-radius: 10%;
	background-color: #aaf;
	padding: 2.5%;

}

#addNew {
	background-color: #bbe;
	border-radius: 5px;
	border: 5px inherit;
	width: 120px;
	height: 40px;
}

#addNew:hover {
	background-color: #ee4;
	transition: 500ms ease-out;
}

.box {
	height: 78%;
	width: 100%;
	padding: 5px;
	margin-top: 2%;
	overflow-y: auto;
}

.listEl {
	height: 60px;
	width: auto;
	background-color: #bbe;
	border-radius: 5px;
	display: block;
	text-align: center;
}
.listEl:hover {
	background-color: #ee4;
	transition: 500ms ease-out;
}

.details {
	width: 30%;
	height: 100px;
	background-color: #ddd;
	display: none;
	z-index: 1;
	position: absolute;
	left: 20%;
	top: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
